@use 'variables' as vars;
// 🎨 Cores de fundo
.bg-midnight { background-color: vars.$midnight-bg; }
.bg-midnight-darker { background-color: vars.$midnight-darker; }
.bg-midnight-lighter { background-color: vars.$midnight-lighter; }

// 🖋️ Cores de texto
.text-white { color: vars.$text-white; }
.text-gray { color: vars.$text-gray; }
.text-light-gray { color: vars.$text-light-gray; }

// 🏗️ Bordas e sombras
.border-color { border-color: vars.$border-color; }
.shadow-color { box-shadow: 0 4px 6px vars.$shadow-color; }

@media (prefers-color-scheme: light) {
  :root {
    color: vars.$text-color-light;
    background-color: vars.$background-color-light;
  }
  a:hover {
    color: lighten(vars.$primary-color, 10%);
  }
  button {
    background-color: vars.$text-light-gray;
    color: vars.$midnight-bg;
  }
}

