@use 'variables' as vars;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: vars.$font-heading;
  color: vars.$primary-color;
  margin-bottom: vars.$space-md;
}

h1 {
  font-size: 3.2em;
  line-height: vars.$line-height-h1;
}

a {
  font-weight: vars.$font-weight-medium;
  color: vars.$primary-color;
  text-decoration: inherit;

  &:hover {
    color: vars.$primary-color-hover;
  }
}

p {
  line-height: 1.6;
  margin-bottom: vars.$space-md;
}

small {
  font-size: vars.$font-size-xs;
  color: color-mix(in srgb, black 20%, vars.$primary-color);
}

.font-mono {
  font-family: vars.$font-mono;
}

.font-primary {
  font-family: vars.$font-primary;
}

.font-heading {
  font-family: vars.$font-heading;
}

.text-xs {
  font-size: vars.$font-size-xs;
}

.text-sm {
  font-size: vars.$font-size-sm;
}

.text-md {
  font-size: vars.$font-size-md;
}

.text-lg {
  font-size: 1.25rem;
}

.text-xl {
  font-size: vars.$font-size-xl;
}

.font-bold {
  font-weight: vars.$font-weight-bold;
}

.font-normal {
  font-weight: vars.$font-weight-normal;
}
